/*Body*/

body{
  background-color: #FFE521;
  position: relative;
  margin: 0px;
  font-family: 'Helvetica'
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
}

/*Sidebar */

.menuSidenav {
	list-style: none;
	padding: 0px;
	margin: 0px;
  display: inline-block;
}

/* Responsive*/

/* Mobile phones */
@media (max-width: 480px){

}

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }

   .menuSidenav{
      color:#56F89A;
      border-radius:5px;
   }
}

/* Desktop */

@media (max-width: 991px){

   .menuSidenav{
      margin-bottom:30px;
      width:100%;
      float:none;
      position:relative;
   }

}
