/*Body*/



body{
  position: relative;
  margin: 0px;
  font-family: 'Helvetica'
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
}

.background-image{
  align-content: left;
  opacity: 10%;
}


/* Responsive*/

/* Mobile phones */
@media (max-width: 480px max-height: 450px){

}

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }

}

/* Desktop */

@media (max-width: 991px){


}
